<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Facture{% endblock %}
        </title>
    </head>
    <body>
        <h1 style="font-size: 1.4em;">
            {% block h1 %}Facture{% endblock %}
        </h1>
        
        {% block body %}
        {% endblock %}

        {% block signature %}
            <div style="margin-top: 60px;">
                <p style="font-style: italic;">{{ 'see_you_soon' | trans({}, 'emails', lang) }}</p>
                <img src="http://localhost:8000/img/logo/logo.png" style="width: 150px; height: auto; display: block;" alt="Cocktailissimo logo">
            </div>
        {% endblock %}
    </body>
</html>