<!DOCTYPE html>
<html style="margin: 0; height: 0;" lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Facture{% endblock %}
        </title>
    </head>
    <body style="margin: 0; padding: 0;">
        <div style="width: 200mm; padding: 10px 20px;">
            {% block body %}{% endblock %}
        </div>
        <script type="text/php">
            if(isset($pdf)) 
            {
                $date = date("d/m/Y");
                $pdf->page_text(20, 820, "$date", null, 6 , [0, 0, 0]);
                $pdf->page_text(552, 820, "Page {PAGE_NUM} / {PAGE_COUNT}", null, 6, [0, 0, 0]);
            }
        </script>
    </body>
</html>