{% extends "email/base.html.twig" %}

{% set lang = purchaseVendorGroup.purchase.lang %}

{% block title %}{{ 'purchase.status.sent.title' | trans({}, 'emails', lang) }}{% endblock %}

{% block h1 %}{{ 'purchase.status.sent.title' | trans({}, 'emails', lang) }}{% endblock %}

{% block body %}

    <div style="margin: 40px 0;">
        <p style="font-size: 1.1rem;">Votre colis a été expédié !</p>
        <p style="font-size: 1.1rem;">Ci-dessous le récapitulatif de la commande.</p>
    </div>

    {% include "email/customer/purchaseStatus/_purchase_status_body.html.twig" %}

{% endblock %}














