{% extends "base.html.twig" %}

{% block page_head %}
    {{ include('layouts/head/_page_head_tags.html.twig', {
        title: ('title' | trans({}, 'cgv')),
    }) }}
{% endblock %}

{% block body %}
    <div class="container legal-page">
        <h1 class="legal-title align-left bold">{{ 'cgv.title' | trans({}, 'static') }}</h1>
        
        {{ 'cgv.text' | trans({}, 'static') | raw }}
    </div>
{% endblock %}
