{% extends "base.html.twig" %}

{% block page_head %}
    {{ include('layouts/head/_page_head_tags.html.twig', {
        title: ('title' | trans({}, 'cgv')),
    }) }}
{% endblock %}

{% block body %}
    <div class="container legal-page">
        <h1 class="legal-title align-left bold">{{ 'title' | trans({}, 'cgv') }}</h1>
        
        {{ 'text' | trans({}, 'cgv') | raw }}
    </div>
{% endblock %}
