<div class="admin-show-card-row-wrapper{% if lang is defined %} {{ lang }}-group{% endif %}">
    <div class="admin-show-card-row">
        <div class="admin-show-card-row-label">{{ label }}</div>
        <div class="admin-show-card-row-value">{{ value }}</div>
    </div>
</div>