.checkout {
    background-color: var(--color-cocktailissimo-verylight);
    margin-top: -105px;
    padding-bottom: 60px;
}
.checkout-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.checkout-header {
    height: 125px;
    background-color: var(--color-cocktailissimo-verylight);
}
.checkout-header-top {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;;
    margin-right: auto;
}

.checkout-header-logo-link {
    margin: 0 10px;
    margin-left: auto;
    margin-right: auto;
}
.checkout-header-logo {
    width: 100%;
    max-width: 220px;
    height: auto;
}
.checkout-header-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    font-size: .9em;
    margin-top: 5px;
}
.checkout-header .left-arrow-icon {
    width: 1.4em;
    height: 1.4em;
    flex: none;
    opacity: .7;
}
.checkout-header-link span {
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: 500;
}
.checkout .loader {
    display: block;
    margin: 20px auto;
}
.checkout .form-button .loader {
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 1000px) {
    .checkout-header {
        height: 100px;
    }
    .checkout {
        padding-top: 20px;
    }
    .checkout-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 15px;
    }
    .checkout .cart-summary {
        position: sticky;
        top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        width: 380px;
        flex: none;
        margin-bottom: 60px;
    }
    .checkout-form {
        flex: none;
        width: 450px;
    }
}


@media only screen and (min-width: 1250px) {
    .checkout {
        margin-top: -190px;
    }
    .checkout-form {
        width: 650px;
    }
}