<form class="admin-filters-container">
    <div class="admin-filters">
        <div class="admin-filters-row">   
            <div class="admin-form-group">
                <label class="admin-form-label" for="q">Recherche par texte</label>
                <input class="admin-form-control" name="q" id="q" value="{{ app.request.get('q') }}" placeholder="Recherche">
            </div>          
            <div class="admin-form-group">
                <label class="admin-form-label" for="sortBy">Tri</label>
                <select class="admin-form-control" name="sortBy">
                    <option value="sentAt_DESC" {% if app.request.get('sortBy') is same as 'sentAt_DESC' %}selected{% endif %}>Plus récents d'abord</option>
                    <option value="sentAt_ASC" {% if app.request.get('sortBy') is same as 'sentAt_ASC' %}selected{% endif %}>Plus anciens d'abord</option>
                </select>
            </div>
        </div>
    </div>
    <div class="admin-filters-submit">
        <button type="submit" class="admin-button">Recherche</button>
    </div>
</form>