<header class="admin-header">
    <div class="admin-header-top">
        <a href="{{ path('home', {_locale: 'fr'}) }}">
            <img class="admin-header-logo" src="/img/logo/mobile_logo.png" alt="logo du site" />
        </a>
        <a class="admin-home-link" href="{{ path('admin_home') }}">Administration</a>
    </div>
</header>