.cart-opener {
    position: relative;
}
.cart-opener.active {
    color: var(--color-bordeaux-veryflash);
}

.cart-count-chip {
    position: absolute;
    top: -3px;
    right: -4px;
    background-color: #FFF;
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 1000px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-price-chip {
    position: absolute;
    top: calc(100% - 7px);
    right: 0;
    font-size: 0.8em;
    font-weight: 400;
    white-space: nowrap;
}


.cart-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.cart-footer {
    margin-top: auto;
}

.cart-body {
    overflow-y: auto;
    padding: 0 15px;
}


.cart-list {
    margin: 20px 0;
    opacity: 1;
    transition: opacity .3s;
    position: relative;
}
.cart-list.loading {
    opacity: .3;
}

.cart-sub-header .loader {
    opacity: .3;
    width: 1.2em;
    height: 1.2em;
}


.cart-vendor-group {
    margin: 30px 0;
}
.cart-vendor-group-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9em;
    font-weight: 200;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 0;
}
.cart-vendor-group-title .center {
    max-width: calc(100% - 10px);
    overflow: hidden;
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-right: 5px;
}
.cart-vendor-group-title-link {
    font-weight: 600;
}
.cart-vendor-group-title .index-review-stars {
    font-size: .8em;
}
.cart-vendor-group-separator {
    flex: 1 0;
    height: 1px;
    background-color: rgb(230, 230, 230);
    position: relative;
    bottom: -2px;
}

.cart-line-wrapper {
    margin: 15px 0;
    position: relative;
}
.cart-line-wrapper.remove-confirm {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.cart-line-wrapper .remove-confirm-controls {
    left: 15px;
    right: 15px;
}
.cart-line-wrapper .icon {
    transition: opacity .3s;
}
.cart-line-wrapper.remove-confirm .icon {
    opacity: 0;
    pointer-events: none;
}
.cart-line-wrapper .remove-confirm-control {
    width: 60px;
}

.cart-line {
    display: flex;
    gap: 10px;
    position: relative;
    padding-right: 30px;
    font-size: .8em;
}
.cart-line .i-close {
    width: 1em;
    height: 1em;
}
.cart-line-text.row {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1em;
    margin-top: auto;
    padding-top: 3px;
}
.cart-line-sub-text {
    font-size: .9em;
    font-weight: 200;
}
.cart-line-title {
    font-size: 1.2em;
    text-transform: uppercase;
}

.cart-line-remover {
    position: absolute;
    right: -5px;
    top: calc(50% - 0.6em);
    opacity: 1;
}
.cart-line-remover .icon {
    width: 1.2em;
    height: 1.2em;
}

.cart-line-quantity-row {
    display: flex;
    align-items: center;
    gap: 7px;
}
.cart-line-quantity-row button {
    width: 17px;
    height: 17px;
}
.cart-line-wrapper.remove-confirm .cart-line-quantity-row button {
    pointer-events: none;
}
.cart-line-quantity-row .icon {
    width: 100%;
    height: 100%;
}
.cart-line-quantity-row .icon.i-minus {
    width: 70%;
}
.cart-line-quantity {
    background-color: rgb(248, 248, 248);
    padding: 5px 10px;
}
.cart-line .form-error {
    font-size: 1em;
    margin-top: -5px;
}

.cart-line-img {
    width: 90px;
    height: 90px;
}

.cart-line h3, .cart-line p {
    margin: 0;
    font-weight: 400;
}

.cart-line .cart-line-price {
    font-size: 1.5em;
}

.cart-line-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.cart-header {
    border-bottom: solid 1px var(--color-lightgrey);
    padding-top: 15px;
    padding-bottom: 15px;
}

.cart-title {
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
}

.cart-sub-header {
    text-align: center;
    font-size: 1em;
    margin: 20px 0 10px;
    color: var(--color-lightgrey);
    display: flex;
    align-items: center;
    justify-content: center;
}


.cart-footer .cart-total {
    font-size: 1.2em;
    margin: 25px 0;
    text-align: center;
}


@media only screen and (min-width: 350px) {
    .cart-line-wrapper .remove-confirm-control {
        width: 100px;
    }
}

@media only screen and (min-width: 450px) {
    .cart-line-text.row {
        gap: 30px;
    }
}

@media only screen and (min-width: 1000px) {
    .cart-body {
        padding-right: 20px;
    }
    .cart-line-title {
        font-size: 1.35em;
    }
    .cart-line-sub-text {
        font-size: 1em;
        margin: 5px 0;
    }
    .cart-line-wrapper.remove-confirm {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .cart-line-wrapper .remove-confirm-controls {
        left: 20px;
        right: 20px;
    }
    .cart-vendor-group {
        margin: 40px 0;
    }
    .cart-line {
        font-size: .8em;
    }
    .cart-line-img {
        width: 150px;
        height: 150px;
    }
    .cart-line-body {
        justify-content: flex-start;
        padding-bottom: 3px;
        padding-top: 3px;
    }
}