{% if carrier == 'chronopost' %}
    <img class="icon i-carrier i-chronopost" src="/img/icons/carriers/chronopost.png" alt="chronopost logo">
{% elseif carrier == 'colissimo' %}
    <img class="icon i-carrier i-colissimo" src="/img/icons/carriers/colissimo.jpg" alt="colissimo logo">
{% elseif carrier == 'colisprive' %}
    <svg class="icon i-carrier i-colisprive">
        <use xlink:href="/img/icons/sprite.svg#colisprive"></use>
    </svg>
{% elseif carrier == 'dhl' %}
    <svg class="icon i-carrier i-dhl">
        <use xlink:href="/img/icons/sprite.svg#dhl"></use>
    </svg>
{% elseif carrier == 'dpd' %}
    <svg class="icon i-carrier i-dpd">
        <use xlink:href="/img/icons/sprite.svg#dpd"></use>
    </svg>
{% elseif carrier == 'fedex' %}
    <svg class="icon i-carrier i-fedex">
        <use xlink:href="/img/icons/sprite.svg#fedex"></use>
    </svg>
{% elseif carrier == 'mondial_relay' %}
    <img src="/img/icons/carriers/mondialrelay.png" alt="mondial relay logo">
{% else %}
    <div class="carrier-default-icon uppercase">{{ carrier }}</div>
{% endif %}

