<div class="lang-switch-controls" data-controller="adminlangswitch" data-wrapperselector=".lang-switch-wrapper" data-default="{{ default ?? 'en' }}">
    <button type="button" class="lang-switch-button" data-lang="en">EN</button>
    <button type="button" class="lang-switch-button" data-lang="fr">FR</button>
    <button type="button" class="lang-switch-button" data-lang="es">ES</button>
    <button type="button" class="lang-switch-button" data-lang="it">IT</button>
</div>