<!DOCTYPE html>
<html lang="{{ lang ?? app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Cocktailissimo{% endblock %}
    </title>
</head>
<body>
    <h1 style="font-size: 1.4em;">
        {% block h1 %}Cocktailissimo{% endblock %}
    </h1>
    
    <div style="margin: 40px 0;">
        {% block body %}
        {% endblock %}
    </div>

    {% block signature %}
        <div style="margin-top: 60px;">
            <p style="font-style: italic;">{{ 'see_you_soon' | trans({}, 'emails', lang ?? app.request.locale) }}</p>
            <img src="https://cocktailissimo.com/img/logo/logo.png" style="width: 150px; height: auto; display: block;" alt="Cocktailissimo logo">
        </div>
    {% endblock %}
</body>
</html>